.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: unset;
  min-width: 0;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  position: relative;
}
.applyLeave:global(.__wab_instance) {
  position: absolute;
  left: 305px;
  top: 2px;
  width: 976px;
  height: 720px;
  flex-shrink: 0;
}
.freeBox__i2Mew {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  flex-wrap: nowrap;
  align-content: unset;
  min-width: 0;
  border-width: 1px;
  border-style: solid;
}
.applylink {
  position: relative;
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
  font-size: 16px;
  align-self: center;
  height: 100%;
  text-align: center;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  color: #000000eb /* plasmic-token: soY86JAOW */;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.assign {
  position: relative;
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
  height: 100%;
  font-size: 16px;
  text-align: center;
  color: #ffffff /* plasmic-token: aIvfp6F0FfEuu */;
  background: #0051cc;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.myleave {
  position: relative;
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
  height: 100%;
  font-size: 16px;
  text-align: center;
  left: auto;
  top: auto;
  color: #000000eb /* plasmic-token: soY86JAOW */;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.leaveist {
  position: relative;
  height: 100%;
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
  font-size: 16px;
  text-align: center;
  color: #000000eb /* plasmic-token: soY86JAOW */;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.reports {
  position: relative;
  width: 200px;
  height: 100%;
  border-right-style: solid;
  border-right-width: 1px;
  font-size: 16px;
  text-align: center;
  color: #000000eb /* plasmic-token: soY86JAOW */;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.freeBox__nXqlz {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 977px;
  height: 67px;
  left: 304px;
  top: 86px;
  flex-shrink: 0;
  border: 1px solid #000000eb /* plasmic-token: soY86JAOW */;
}
.freeBox___5D305 {
  position: relative;
  width: 197px;
  font-size: 24px;
  text-align: justify;
  align-self: center;
  padding-left: 16px;
  flex-shrink: 0;
}
