.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  position: relative;
}
.freeBox__pp1D1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 988px;
  height: 230px;
  flex-shrink: 0;
}
.freeBox___7ITl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 204px;
  height: 52px;
  flex-shrink: 0;
}
.textbox {
  width: 180px;
  height: 37px;
  flex-shrink: 0;
}
