.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  justify-content: flex-start;
  align-items: stretch;
  align-content: unset;
  min-width: 0;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  position: relative;
  width: 305px;
  flex-shrink: 0;
}
.divider {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-content: unset;
  min-width: 0;
  min-height: 0;
}
.mainContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: unset;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 2px 4px 4px 2px #00000021;
  min-width: 0;
  min-height: 0;
}
.infoContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  align-content: unset;
  align-self: center;
  min-width: 0;
  min-height: 0;
  border-width: 1px;
  border-style: solid;
}
.myInformation {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 27px;
  min-width: 0;
  border-width: 1px;
  border-style: solid;
}
.infoRow1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 1px;
  border-style: solid;
}
.infoRow1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 8%);
  width: calc(100% + 8%);
}
.infoRow1 > :global(.__wab_flex-container) > *,
.infoRow1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8%;
}
.freeBox__u1Zkk {
  position: relative;
  height: 24px;
  width: 74px;
  flex-shrink: 0;
}
.firstName {
  position: relative;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 5px;
}
.middleName {
  position: relative;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 5px;
}
.lastName {
  position: relative;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 5px;
}
.infoRow2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 1px;
  border-style: solid;
}
.infoRow2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 6.5%);
  width: calc(100% + 6.5%);
}
.infoRow2 > :global(.__wab_flex-container) > *,
.infoRow2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6.5%;
}
.genderBox {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 52px;
  width: 250px;
  flex-shrink: 0;
}
.genderBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 2%);
  width: calc(100% + 2%);
}
.genderBox > :global(.__wab_flex-container) > *,
.genderBox > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 2%;
}
.freeBox__f6Ahn {
  position: relative;
  width: 81px;
  flex-shrink: 0;
}
.male:global(.__wab_instance) {
  position: relative;
}
.female:global(.__wab_instance) {
  position: relative;
}
.freeBox__pzPdt {
  position: relative;
}
.maritalStatusBox:global(.__wab_instance) {
  position: relative;
}
.option__yUos1:global(.__wab_instance) {
  position: relative;
}
.option__bGV3:global(.__wab_instance) {
  position: relative;
}
.infoRow3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 1px;
  border-style: solid;
}
.infoRow3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 6%);
  width: calc(100% + 6%);
}
.infoRow3 > :global(.__wab_flex-container) > *,
.infoRow3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6%;
}
.freeBox__zvfin {
  position: relative;
  font-size: 16px;
}
.street1 {
  position: relative;
  width: 175px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.freeBox__zQTz {
  position: relative;
  font-size: 16px;
}
.street2 {
  position: relative;
  width: 175px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.infoRow4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 1px;
  border-style: solid;
}
.infoRow4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 6%);
  width: calc(100% + 6%);
}
.infoRow4 > :global(.__wab_flex-container) > *,
.infoRow4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6%;
}
.freeBox__bhCVm {
  position: relative;
  text-align: left;
}
.homePhone {
  position: relative;
  width: 146px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.freeBox__z464F {
  position: relative;
  font-size: 16px;
}
.mobile {
  position: relative;
  width: 146px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.freeBox__tgc1W {
  position: relative;
  font-size: 16px;
}
.workPhone {
  position: relative;
  width: 146px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.infoRow5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 1px;
  border-style: solid;
}
.infoRow5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 6%);
  width: calc(100% + 6%);
}
.infoRow5 > :global(.__wab_flex-container) > *,
.infoRow5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6%;
}
.freeBox__pw9Oi {
  position: relative;
  font-size: 16px;
}
.city {
  position: relative;
  width: 146px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.freeBox__a6H2O {
  position: relative;
  font-size: 16px;
}
.state {
  position: relative;
  width: 146px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.freeBox__rszMw {
  position: relative;
  font-size: 16px;
}
.zip {
  position: relative;
  width: 146px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.infoRow6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 1px;
  border-style: solid;
}
.infoRow6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 6%);
  width: calc(100% + 6%);
}
.infoRow6 > :global(.__wab_flex-container) > *,
.infoRow6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6%;
}
.freeBox__xa595 {
  position: relative;
  font-size: 16px;
}
.email {
  position: relative;
  width: 175px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.freeBox___2XbGz {
  position: relative;
  font-size: 16px;
}
.country {
  position: relative;
  width: 175px;
  text-align: center;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
}
.saveButton:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  width: auto;
  height: auto;
}
