.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: unset;
  min-width: 0;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  position: relative;
}
.applyLeave:global(.__wab_instance) {
  position: absolute;
  left: 301px;
  top: 2px;
  width: 980px;
  height: 720px;
  flex-shrink: 0;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  flex-wrap: nowrap;
  align-content: unset;
  min-width: 0;
  border-width: 1px;
  border-style: solid;
}
.applylink {
  position: relative;
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
  align-self: center;
  height: 100%;
  background: #0051cc;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.freeBox___52FXw {
  position: relative;
  font-size: 16px;
  color: #ffffff /* plasmic-token: aIvfp6F0FfEuu */;
  text-align: center;
}
.assign {
  position: relative;
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
  height: 100%;
  font-size: 16px;
  text-align: center;
  color: #000000eb /* plasmic-token: soY86JAOW */;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.myleave {
  position: relative;
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
  height: 100%;
  font-size: 16px;
  text-align: center;
  left: auto;
  top: auto;
  color: #000000eb /* plasmic-token: soY86JAOW */;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.leaveist {
  position: relative;
  height: 100%;
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
  font-size: 16px;
  text-align: center;
  color: #000000eb /* plasmic-token: soY86JAOW */;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.reports {
  position: relative;
  width: 200px;
  height: 100%;
  border-right-style: solid;
  border-right-width: 1px;
  font-size: 16px;
  text-align: center;
  color: #000000eb /* plasmic-token: soY86JAOW */;
  background: linear-gradient(#ffffff, #ffffff), #0051cc;
  flex-shrink: 0;
  min-height: 0;
  padding: 16px;
}
.freeBox___2Vx0F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  height: 70px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__gWJb {
  position: relative;
  font-size: 24px;
  height: auto;
  text-align: center;
  align-self: center;
}
.freeBox__anmNc {
  position: relative;
  left: auto;
  top: auto;
  width: 162px;
  height: 62px;
}
.freeBox__rvRb0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  left: auto;
  top: auto;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.label {
  position: absolute;
  height: 48px;
  width: 186px;
  left: 71px;
  top: 47px;
  text-align: left;
  font-size: 24px;
  flex-shrink: 0;
}
