.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  position: relative;
}
.primaryDiv {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-self: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: unset;
  min-width: 0;
  min-height: 0;
}
.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: unset;
  width: 75%;
  height: 75%;
  left: auto;
  top: auto;
  background: #ffffff;
  box-shadow: 0px 5px 8px 4px #0000001f;
  transition-property: all;
  transition-duration: 1s;
}
.downloadUser {
  display: flex;
  position: relative;
  flex-direction: row;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  width: 100%;
  height: 33.3%;
  padding: 2.5%;
  border-style: solid;
  border-color: #c3c3c3;
}
.downloadUser > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 10%);
  width: calc(100% + 10%);
}
.downloadUser > :global(.__wab_flex-container) > *,
.downloadUser > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10%;
}
.freeBox__nuG5Y {
  position: relative;
  width: 100%;
  min-width: 0;
}
.selectBoxPrimary__mz17T:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__swLm {
  height: auto;
}
.option__dQgbi:global(.__wab_instance) {
  position: relative;
}
.option__lwXE:global(.__wab_instance) {
  position: relative;
}
.buttonPrimary__cu4Nu:global(.__wab_instance) {
  position: relative;
  max-width: 90%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: calc(1% + 10%) !important;
}
.downloadDept {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 100%;
  min-height: 33.3%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  padding: 2.5%;
  border-style: solid;
  border-color: #c3c3c3;
}
.downloadDept > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 10%);
  width: calc(100% + 10%);
}
.downloadDept > :global(.__wab_flex-container) > *,
.downloadDept > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10%;
}
.freeBox__ux9Ga {
  position: relative;
  width: 100%;
  min-width: 0;
}
.selectBoxPrimary__fmEuh:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.option__y39F1:global(.__wab_instance) {
  position: relative;
}
.option__sjU2X:global(.__wab_instance) {
  position: relative;
}
.buttonPrimary__s0Wyj:global(.__wab_instance) {
  position: relative;
  max-width: 90%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: calc(1% + 10%) !important;
}
.importExport {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 33.4%;
  align-content: unset;
  border: 1px solid #c3c3c3;
}
._export {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 50%;
  height: 100%;
  min-height: 0;
  padding: 2.5%;
  border-style: solid;
  border-color: #c3c3c3;
}
._export > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 10%);
  width: calc(100% + 10%);
}
._export > :global(.__wab_flex-container) > *,
._export > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10%;
}
.freeBox__m6PRw {
  position: relative;
  width: 100%;
  min-width: 0;
}
.buttonPrimary__terPv:global(.__wab_instance) {
  position: relative;
  max-width: 90%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: calc(1% + 10%) !important;
}
._import {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 50%;
  height: 100%;
  border-left-width: 1px;
  min-height: 0;
  padding: 2.5%;
  border-style: solid;
  border-color: #c3c3c3;
}
._import > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: unset;
  margin-left: calc(0px - 10%);
  width: calc(100% + 10%);
}
._import > :global(.__wab_flex-container) > *,
._import > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10%;
}
.freeBox__v37T {
  position: relative;
  width: 100%;
  min-width: 0;
}
.buttonPrimary__f0Bou:global(.__wab_instance) {
  position: relative;
  max-width: 90%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: calc(1% + 10%) !important;
}
.buttonPrimary___9ZfCd:global(.__wab_instance) {
  position: relative;
  max-width: 90%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: calc(1% + 10%) !important;
}
