.inputValuesRow1 {
  display: flex;
  flex-direction: row;
  width: 1127px;
  height: 77px;
  position: relative;
}
.inputValuesRow1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 10%);
  width: calc(100% + 10%);
}
.inputValuesRow1 > :global(.__wab_flex-container) > *,
.inputValuesRow1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputValuesRow1 > :global(.__wab_flex-container) > picture > img,
.inputValuesRow1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10%;
}
.fullName {
  position: relative;
}
.workerId {
  position: relative;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 5px;
}
.middleName {
  position: relative;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 5px;
}
.lastName {
  position: relative;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 5px;
}
