.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1018px;
  height: 246px;
  position: relative;
  border-radius: 1px;
  border-style: solid;
}
.tableHeaders {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 20%;
  align-content: unset;
}
.freeBox__g9In {
  position: relative;
  height: auto;
  width: 5.5%;
  text-align: center;
  border-width: 0px;
  border-style: solid;
}
.freeBox__fkKDd {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__afJe {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__mxVhy {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox___2L18R {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox___7P64W {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__bawcC {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__hSazc {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.rowContent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 13.33%;
  align-content: unset;
}
.checkboxDiv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: auto;
  width: 5.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.checkboxPrimary__yyiuI:global(.__wab_instance) {
  width: auto;
  height: auto;
}
.freeBox__pPtq9 {
  position: relative;
  width: 13.5%;
  text-align: center;
  height: auto;
}
.freeBox__bHm3 {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__mz3Qt {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__udtRv {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__iu6Ic {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.buttonDiv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 13.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.buttonPrimary__i4O:global(.__wab_instance) {
  position: relative;
  width: 85%;
  height: 70%;
}
.freeBox__neDrl {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.rowContent2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 13.33%;
  align-content: unset;
}
.checkboxDiv2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: auto;
  width: 5.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.checkboxPrimary__qY3Xj:global(.__wab_instance) {
  width: auto;
  height: auto;
}
.freeBox__imTzK {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__jlE32 {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__odp7L {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__jdhFb {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox___42OIy {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.buttonDiv2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 13.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.buttonPrimary__laUsL:global(.__wab_instance) {
  position: relative;
  width: 85%;
  height: 70%;
}
.freeBox__ypvxC {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.rowContent3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 13.33%;
  align-content: unset;
}
.checkboxDiv3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: auto;
  width: 5.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.checkboxPrimary__xnJfH:global(.__wab_instance) {
  width: auto;
  height: auto;
}
.freeBox__jmM2A {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__fDoYh {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__sxm4Z {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__ijC6B {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__xFVok {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.buttonDiv3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 13.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.buttonPrimary___1Rfvh:global(.__wab_instance) {
  position: relative;
  width: 85%;
  height: 70%;
}
.freeBox__bKaNq {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.rowContent4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 13.33%;
  align-content: unset;
}
.checkboxDiv4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: auto;
  width: 5.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.checkboxPrimary__kQYr:global(.__wab_instance) {
  width: auto;
  height: auto;
}
.freeBox___0PueM {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__tVo2P {
  position: relative;
  width: 13.5%;
  text-align: center;
  height: auto;
}
.freeBox__mSmlz {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox___7Myp3 {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__zNwyN {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.buttonDiv4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 13.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.buttonPrimary__lPv2V:global(.__wab_instance) {
  position: relative;
  width: 85%;
  height: 70%;
}
.freeBox__blIbV {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.rowContent5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 13.33%;
  align-content: unset;
}
.checkboxDiv5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: auto;
  width: 5.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.checkboxPrimary__brfkm:global(.__wab_instance) {
  width: auto;
  height: auto;
}
.freeBox__cHb0H {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox___2Js7U {
  position: relative;
  width: 13.5%;
  text-align: center;
  height: auto;
}
.freeBox__hDrmX {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__tmqH9 {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox___1RtDr {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.buttonDiv5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 13.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.buttonPrimary__ec4Jt:global(.__wab_instance) {
  position: relative;
  width: 85%;
  height: 70%;
}
.freeBox__iFo6 {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.rowContent6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 13.33%;
  align-content: unset;
}
.checkboxDiv6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: auto;
  width: 5.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.checkboxPrimary___9DgHj:global(.__wab_instance) {
  width: auto;
  height: auto;
}
.freeBox__runCe {
  position: relative;
  width: 13.5%;
  text-align: center;
}
.freeBox__tPxZk {
  position: relative;
  width: 13.5%;
  text-align: center;
  height: auto;
}
.freeBox__bZ16Q {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__h3SEc {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.freeBox__q2GyZ {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
.buttonDiv6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 13.5%;
  align-content: unset;
  height: 100%;
  min-height: 0;
}
.buttonPrimary__xg7Xt:global(.__wab_instance) {
  position: relative;
  width: 85%;
  height: 70%;
}
.freeBox__t2Gja {
  position: relative;
  height: auto;
  width: 13.5%;
  text-align: center;
}
