.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1018px;
  height: 246px;
  box-shadow: 1px 2px 2px 1px #00000033;
  position: relative;
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__olUus {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 169px;
  height: 243px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  left: 554px;
  top: 0px;
  flex-shrink: 0;
  border-style: solid;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 35px;
  width: 1014px;
  background: #f4f4f4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-shrink: 0;
}
.column2Main {
  position: absolute;
  left: 44px;
  top: 4px;
}
.column3Main {
  position: absolute;
  left: 185px;
  top: 4px;
}
.column4Main {
  position: absolute;
  left: 320px;
  top: 4px;
}
.column5Main {
  position: absolute;
  left: 460px;
  top: 4px;
}
.column6Main {
  position: absolute;
  left: 601px;
  top: 5px;
}
.column7Main {
  position: absolute;
  left: 742px;
  top: 5px;
}
.column8Main {
  position: absolute;
  left: 886px;
  top: 5px;
}
.checkboxPrimary__hlQww:global(.__wab_instance) {
  position: absolute;
  left: 6px;
  top: 5px;
}
.example1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 35px;
  width: 1014px;
  background: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-shrink: 0;
}
.example2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 35px;
  width: 1014px;
  background: #f4f4f4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-shrink: 0;
}
.example3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 35px;
  width: 1014px;
  background: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-shrink: 0;
}
.example4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 35px;
  width: 1014px;
  background: #f4f4f4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-shrink: 0;
}
.example5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 35px;
  width: 1014px;
  background: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-shrink: 0;
}
.example6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 35px;
  width: 1014px;
  background: #f4f4f4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-shrink: 0;
}
.column1 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 36px;
  height: 243px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  flex-shrink: 0;
  border-style: solid;
}
.checkboxPrimary__opm2S:global(.__wab_instance) {
  position: absolute;
  left: 6px;
  top: 41px;
}
.checkboxPrimary__iQXj1:global(.__wab_instance) {
  position: absolute;
  left: 6px;
  top: 75px;
}
.checkboxPrimary__x3Qny:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 110px;
  align-self: center;
}
.checkboxPrimary__onoHv:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 145px;
  align-self: center;
}
.checkboxPrimary__x2AXa:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 180px;
  align-self: center;
}
.checkboxPrimary__oyyGy:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 215px;
  align-self: center;
}
.column2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 135px;
  height: 243px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  left: 37px;
  top: 0px;
  flex-shrink: 0;
  border-style: solid;
}
.freeBox__ax2J5 {
  position: absolute;
  left: 8px;
  top: 41px;
}
.freeBox__laPtq {
  position: absolute;
  left: 8px;
  top: 74px;
}
.freeBox__i39Xv {
  position: absolute;
  left: 8px;
  top: 109px;
}
.freeBox__o7HAb {
  position: absolute;
  left: 8px;
  top: 144px;
}
.freeBox__ua4Cw {
  position: absolute;
  left: 8px;
  top: 180px;
}
.freeBox__sfw8Q {
  position: absolute;
  left: 9px;
  top: 213px;
}
.column3 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 135px;
  height: 243px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  left: 174px;
  top: 0px;
  flex-shrink: 0;
  border-style: solid;
}
.freeBox__ymvQo {
  position: absolute;
  top: 43px;
  left: 11px;
}
.freeBox__pzcqK {
  position: absolute;
  top: 77px;
  left: 10px;
}
.freeBox__kKxhF {
  position: absolute;
  top: 112px;
  left: 9px;
}
.freeBox__o9CMx {
  position: absolute;
  top: 148px;
  left: 10px;
}
.freeBox__tRtcq {
  position: absolute;
  top: 183px;
  left: 10px;
}
.freeBox__fBubK {
  position: absolute;
  top: 215px;
  left: 8px;
}
.column4 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 135px;
  height: 243px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  left: 309px;
  top: 0px;
  flex-shrink: 0;
  border-style: solid;
}
.freeBox__eFnjJ {
  position: absolute;
  top: 43px;
  left: 11px;
}
.freeBox__dGsVu {
  position: absolute;
  top: 77px;
  left: 10px;
}
.freeBox__cgAdF {
  position: absolute;
  top: 112px;
  left: 9px;
}
.freeBox___7LjJc {
  position: absolute;
  top: 148px;
  left: 10px;
}
.freeBox__lEpj {
  position: absolute;
  top: 183px;
  left: 10px;
}
.freeBox__qGsf {
  position: absolute;
  top: 215px;
  left: 8px;
}
.column5 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 135px;
  height: 243px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  left: 447px;
  top: 0px;
  flex-shrink: 0;
  border-style: solid;
}
.freeBox__qLqgW {
  position: absolute;
  top: 43px;
  left: 11px;
}
.freeBox__ynx8A {
  position: absolute;
  top: 77px;
  left: 10px;
}
.freeBox__nvZiE {
  position: absolute;
  top: 112px;
  left: 9px;
}
.freeBox___9QSn {
  position: absolute;
  top: 148px;
  left: 10px;
}
.freeBox__sC9Kb {
  position: absolute;
  top: 183px;
  left: 10px;
}
.freeBox__nwflo {
  position: absolute;
  top: 215px;
  left: 8px;
}
.column52 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 135px;
  height: 243px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  left: 590px;
  top: 0px;
  flex-shrink: 0;
  border-style: solid;
}
.freeBox__lwFgV {
  position: absolute;
  top: 43px;
  left: 11px;
}
.freeBox__pgUbs {
  position: absolute;
  top: 77px;
  left: 10px;
}
.freeBox___8PCFs {
  position: absolute;
  top: 112px;
  left: 9px;
}
.freeBox__j069 {
  position: absolute;
  top: 148px;
  left: 10px;
}
.freeBox__pk33L {
  position: absolute;
  top: 183px;
  left: 10px;
}
.freeBox__iodfN {
  position: absolute;
  top: 215px;
  left: 8px;
}
.column53 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 135px;
  height: 243px;
  left: 875px;
  top: -2px;
  flex-shrink: 0;
  border-width: 0px;
  border-style: solid;
}
.freeBox___6NRwP {
  position: absolute;
  top: 43px;
  left: 11px;
}
.freeBox__l6Y3U {
  position: absolute;
  top: 77px;
  left: 10px;
}
.freeBox___59Mtc {
  position: absolute;
  top: 112px;
  left: 9px;
}
.freeBox__i7Luq {
  position: absolute;
  top: 148px;
  left: 10px;
}
.freeBox___04CS {
  position: absolute;
  top: 183px;
  left: 10px;
}
.freeBox__wY1U {
  position: absolute;
  top: 215px;
  left: 8px;
}
.column7 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 142px;
  height: 243px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  left: 728px;
  top: 1px;
  flex-shrink: 0;
  border-style: solid;
}
.buttonPrimary__bDSmG:global(.__wab_instance) {
  position: absolute;
  width: 120px;
  height: 27px;
  right: auto;
  left: 9px;
  bottom: auto;
  top: 38px;
  flex-shrink: 0;
}
.buttonPrimary___959K:global(.__wab_instance) {
  position: absolute;
  width: 120px;
  height: 27px;
  right: auto;
  left: 9px;
  bottom: auto;
  top: 72px;
  flex-shrink: 0;
}
.buttonPrimary___59Xo:global(.__wab_instance) {
  position: absolute;
  width: 120px;
  height: 27px;
  right: auto;
  left: 9px;
  bottom: auto;
  top: 108px;
  flex-shrink: 0;
}
.buttonPrimary___9Wg73:global(.__wab_instance) {
  position: absolute;
  width: 120px;
  height: 27px;
  right: auto;
  left: 9px;
  bottom: auto;
  top: 142px;
  flex-shrink: 0;
}
.buttonPrimary__gVrDl:global(.__wab_instance) {
  position: absolute;
  width: 120px;
  height: 27px;
  right: auto;
  left: 9px;
  bottom: auto;
  top: 177px;
  flex-shrink: 0;
}
.buttonPrimary__rRtJh:global(.__wab_instance) {
  position: absolute;
  width: 120px;
  height: 27px;
  right: auto;
  left: 9px;
  bottom: auto;
  top: 213px;
  flex-shrink: 0;
}
