.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  position: relative;
  width: 322px;
  flex-shrink: 0;
}
.divider {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1122px;
  height: 720px;
  align-content: unset;
  flex-shrink: 0;
}
.content {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: stretch;
  left: 51px;
  top: 66px;
  width: 1128px;
  height: 644px;
  background: #ffffff;
  box-shadow: 1px 2px 2px 1px #00000038;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
}
.filterCandidates {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 207px;
  width: 1123px;
  align-self: auto;
  flex-shrink: 0;
  border: 1px solid transparent;
}
.clearAllButton:global(.__wab_instance) {
  position: absolute;
  bottom: auto;
  top: 154px;
  right: auto;
  left: 951px;
  width: 108px;
  height: 33px;
  flex-shrink: 0;
}
.filterButton:global(.__wab_instance) {
  position: absolute;
  bottom: auto;
  top: 154px;
  right: auto;
  left: 820px;
  width: 108px;
  height: 33px;
  flex-shrink: 0;
}
.jobTitleSelect:global(.__wab_instance) {
  position: absolute;
  left: 21px;
  top: 93px;
  width: 161px;
  height: 32px;
  flex-shrink: 0;
}
.option__i1ZI:global(.__wab_instance) {
  position: relative;
}
.option__bomvG:global(.__wab_instance) {
  position: relative;
}
.candidateNameSelect:global(.__wab_instance) {
  position: absolute;
  left: 199px;
  top: 92px;
  width: 161px;
  height: 32px;
  flex-shrink: 0;
}
.option__ovjoX:global(.__wab_instance) {
  position: relative;
}
.option__uDTu:global(.__wab_instance) {
  position: relative;
}
.prioritySelect:global(.__wab_instance) {
  position: absolute;
  left: 377px;
  top: 93px;
  width: 161px;
  height: 32px;
  flex-shrink: 0;
}
.option__p1ElB:global(.__wab_instance) {
  position: relative;
}
.option__qbFiR:global(.__wab_instance) {
  position: relative;
}
.freeBox__n9RMj {
  position: absolute;
  left: 66px;
  top: 65px;
}
.freeBox__lvRuY {
  position: absolute;
  left: 221px;
  top: 65px;
}
.freeBox__oDDuR {
  position: absolute;
  left: 428px;
  top: 68px;
}
.freeBox__fMy0M {
  position: relative;
  width: 495px;
  height: 49px;
  left: 304px;
  top: 17px;
  font-size: 26px;
  text-align: center;
  right: auto;
  align-self: flex-start;
  flex-shrink: 0;
}
.textbox {
  position: absolute;
  width: 159px;
  height: 33px;
  left: 926px;
  top: 93px;
  background: #f4f4f4;
  flex-shrink: 0;
  border-radius: 3px;
}
.freeBox__k9ItK {
  position: absolute;
  left: 981px;
  top: 68px;
}
.freeBox__cptyE {
  position: absolute;
  left: 792px;
  top: 67px;
}
.freeBox___05PmQ {
  position: absolute;
  left: 585px;
  top: 68px;
}
.hiringManagerSelect:global(.__wab_instance) {
  position: absolute;
  left: 560px;
  top: 94px;
  width: 161px;
  height: 32px;
  flex-shrink: 0;
}
.option__mPhqc:global(.__wab_instance) {
  position: relative;
}
.option__z5GgB:global(.__wab_instance) {
  position: relative;
}
.statusSelect:global(.__wab_instance) {
  position: absolute;
  left: 738px;
  top: 93px;
  width: 161px;
  height: 32px;
  flex-shrink: 0;
}
.option__k2TTx:global(.__wab_instance) {
  position: relative;
}
.option__kdIh:global(.__wab_instance) {
  position: relative;
}
.addCandidates {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 435px;
  border-top-width: 1px;
  border-top-style: solid;
  flex-shrink: 0;
}
.freeBox__fbFf {
  position: absolute;
  left: 425px;
  top: 18px;
  font-size: 26px;
  align-self: flex-start;
  width: 284px;
  height: 36px;
  flex-shrink: 0;
}
.buttonPrimary:global(.__wab_instance) {
  position: absolute;
  bottom: auto;
  top: 75px;
  right: auto;
  left: 908px;
  width: 151px;
  height: 32px;
  flex-shrink: 0;
}
.recruitmentTable:global(.__wab_instance) {
  position: absolute;
  top: 122px;
  left: 52px;
  flex-shrink: 0;
}
