.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 310px;
  height: 193px;
}
.columns__plNrT {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
.column__wlDw0 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.columns__jz1Xr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
.column__dCowb {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.columns___98SyD {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
.column__jkejp {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.column__cwiuj {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.column__nzf7U {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.columns__zmNOv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
.column__lx9Z7 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.column__p6Xg {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.column__k2S59 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.columns___5HHWs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
.column__zGLuC {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.columns__bevzY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
.column__dvcYs {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.column__wFoJl {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.column__hOwjy {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.columns__qWwkh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-width: 0;
}
.column__hPRee {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.column__tm3QA {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
